* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: oklch(49.55% 0.192 280.49);
  --green: oklch(0.85 0.24 147.2);
  --orange: oklch(0.81 0.16 82.69);
  --white: oklch(92.42% 0.001 197.14);
  --black: oklch(28.09% 0 0);
  --fancy-gradient: linear-gradient(to top, var(--blue), var(--green));
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

header {
  background-color: darkgray;
  margin-bottom: 10px;
}

section {
  background-color: lightgrey;
  margin-bottom: 10px;
}
h2,
h3 {
  margin-bottom: 1rem;
  color: transparent;
  font-weight: bold;
  background-image: var(--fancy-gradient);
  background-clip: text;
}
.services {
  display: flex;
  flex-direction: column;
}
#introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
#introduction .image {
  width: 100%;
  max-width: 45rem;
  clip-path: xywh(0 5px 100% 75% round 15% 0);
}
#introduction .discribe {
  width: 100%;
  max-width: 45rem;
  line-height: 1.6rem;
}

.cards-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  flex-basis: 20rem;
}

.card figure img {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.card figcaption {
  font-weight: 900;
}
.card p {
  display: flex;
  padding: 1rem;
}
.card:hover figure {
  scale: 1.04;
  transition: scale 900ms ease;
}
footer {
  background-color: black;
  color: white;
}
