* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80vw; 
    margin: 0 auto; 
}

header {
    background-color: darkgray;
    margin-bottom: 10px;
}

section {
    background-color: lightgrey;
    margin-bottom: 10px;
}

section.contact {
    padding: 1rem;
}

section.contact FORM {
    display: flex;
    flex-direction: row;
}

section.contact label {


}

section.contact input {


}




footer {
    background-color: black;
    color: white;
}