* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: oklch(49.55% 0.192 280.49);
  --green: oklch(0.85 0.24 147.2);
  --orange: oklch(0.81 0.16 82.69);
  --white: oklch(92.42% 0.001 197.14);
  --black: oklch(28.09% 0 0);
  --fancy-gradient: linear-gradient(to top, var(--blue), var(--green));
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

header {
    background-color: darkgray;
    margin-bottom: 10px;
}

section {
  background-color: lightgrey;
  margin-bottom: 10px;

    
}


section.contact {
    padding: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

section.contact h3 {
    margin-bottom: 1rem;
}


section.contact FORM {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    
}

section.contact .form-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section.contact  .contact-data,
section.contact  .contact-message {
    flex-basis: 47%;
}

section.contact  label {
    display: inline-block;
    padding:  0.6rem;
    font-size: 0.9em; 
}



section.contact input,
section.contact textarea {
    min-width: 70%;
    padding: 0.6rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid darkgray;

}

section.contact input:focus,
section.contact textarea:focus {
    background-color: rgba(255, 255, 255, .5);
}



section.contact textarea {
    height: 6.9rem;
}

.button-item {
    width: 100%;
}

.button-item button {
 padding:.5rem;
 background-color: black;
 color: white;
 font-weight: 600;
 text-transform: uppercase;
 border: none;
 float: right;
 margin-top: 1rem;
}

h2,
h3 {
  margin-bottom: 1rem;
  color: transparent;
  font-weight: bold;
  background-image: var(--fancy-gradient);
  background-clip: text;
}
.services {
  display: flex;
  flex-direction: column;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#introduction .image {
  display: flex;
  flex: 1 1 25rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}
#introduction .image figure img {
  display: block;
  width: 100%;
  border-radius: 20px;
}
#introduction .discribe {
  display: flex;
  flex-direction: column;
  flex: 1 1 30rem;
  line-height: 1.6rem;
}

/* Service Layout */
.cards-parent {
  grid-column: middle;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  flex: 1 1 30rem;
}
.card figure img {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.card figcaption {
  font-weight: 900;
}
.card p {
  display: flex;
  padding: 1rem;
}
.card:hover figure {
  scale: 1.04;
  transition: scale 900ms ease;
}
footer {
  background-color: black;
  color: white;
}


/* HENRYS CODE */

header {
    padding: 2rem 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 50px;
    filter: invert(1);
    margin-right: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

nav a {
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    color: inherit;
}


.hero {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hero-left {
    border: 1px solid;
    padding: 2rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.hero-right {
    border: 1px solid;
    padding: 2rem;
    border-radius: 15px;
}

.reference {
    padding: 2rem;
}

.reference h2 {
    margin-bottom: 2rem;
    text-align: center;
}


.reference div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.reference img {
    height: 100px;
}

/* _________________________  */